<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="account-inner">
        <h1>Clients</h1>

        <!-- Clients list -->
        <table id="clients-table" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% clients.forEach(client => { %>
                    <tr>
                        <td><%= client.name %></td>
                        <td><%= client.email %></td>
                        <td>
                            <a href="/clients/<%= client.id %>" class="btn">Check Details</a>
                            <a href="/clients/switch/<%= client.id %>" class="btn btn-primary">Access Account</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <%- include('partials/footer') %>
    <script src="/scripts.js"></script>
</body>
</html>